<ion-tabs selectedIndex="1" tabsPlacement="bottom" tabsHighlight="true" color="primary">
  <ion-tab [root]="sectionsRoot" tabTitle="Produtos"></ion-tab>
  <ion-tab [root]="homeRoot" tabIcon="logo-ideal"></ion-tab>
  <ion-tab [root]="shoppingListRoot" tabTitle="Listas de Compra"></ion-tab>
</ion-tabs>
