page-photo-user {
  ion-img {
    background: transparent;
  }

  h4 {
    margin-bottom: 10px !important;
  }

  .footer {
    button {
      box-shadow: none;
    }

    button:active {
      box-shadow: none;
    }

    button:focus {
      box-shadow: none;
    }
  }
}
