<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card no-margin style="width: 100%">
    <ion-card-content>
      <form [formGroup]="form" (submit)="submit(); $event.preventDefault()" novalidate>
        <ion-item no-padding>
          <ion-label stacked>Descrição *</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-note class="error-message" *ngIf="form.get('name').hasError('maxlength') && (form.get('name').dirty || form.get('name').touched)">
          A descrição informada é muito grande.
        </ion-note>
        <ion-note class="error-message" *ngIf="form.get('name').hasError('required') && (form.get('name').dirty || form.get('name').touched)">
          Uma descrição deve ser informada.
        </ion-note>

        <ion-item no-padding>
          <ion-label stacked>Anotação</ion-label>
          <ion-textarea formControlName="note"></ion-textarea>
        </ion-item>

        <ion-note class="error-message" *ngIf="form.get('note').hasError('maxlength') && (form.get('note').dirty || form.get('note').touched)">
          A anotação informada é muito grande.
        </ion-note>

        <ion-item no-padding>
          <ion-label stacked>Data para compra</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY HH:mm"
            pickerFormat="DD/MM/YYYY HH:mm"
            [min]="now"
            formControlName="date_for_purchase"
            (ionCancel)="clearDateTime()"
            doneText="Ok"
            cancelText="Limpar"
          ></ion-datetime>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>Lista pública</ion-label>
          <ion-toggle formControlName="public"></ion-toggle>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <p text-center style="margin-bottom: 0;" *ngIf="dataList && dataList.created_at">Lista cadastrada por {{ dataList.created_by | pickUpCertainWords:2 }}</p>
  <p no-margin text-center *ngIf="dataList && dataList.created_at">dia {{ dataList.created_at | date:'dd/MM/yyyy hh:mm' }}</p>

  <ion-footer>
    <ion-toolbar color="primary">
      <button class="no-shadow" ion-button full color="primary" (click)="submit()" [disabled]="form.invalid">{{ titleButton }}</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
