<ion-header>
  <ion-navbar color="primary">
    <ion-title>Selecionar lista</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="card-product">
    <ion-card-content>
      <img-loader [src]="product?.images[0]?.url" class="img-loader"></img-loader>
      <h4>#{{ product?.id }} - {{ product?.description }}</h4>
    </ion-card-content>
  </ion-card>

  <ion-card no-border class="no-lists" *ngIf="lists.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Nenhuma lista de compra foi encontrada</h1>
    </ion-card-content>
  </ion-card>

  <div class="list-card" *ngIf="lists.length !== 0">
    <div class="info">
      <p text-center>Selecione uma lista de compras para adicionar o produto.</p>
    </div>

    <ion-card padding *ngFor="let l of lists; let i = index" (click)="addToList(l)">
      <ion-item no-padding>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-8>
              <h2>{{ l.name }}</h2>
            </ion-col>

            <ion-col col-4>
              <p text-end>#{{ l.id }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p>{{ l?.note }}</p>
      </ion-item>

      <ion-item no-padding>
        <ion-grid>
          <ion-row>
            <ion-col col-12 no-padding *ngIf="l.date_for_purchase">
              <p text-center>
                <ion-icon name="md-calendar"></ion-icon>
                Comprar dia {{ l?.date_for_purchase | date: 'dd/MM/yyyy' }}<br>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="lists.length < total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
