<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div class="conteudo">
    <h2 text-center no-margin>{{ name }}</h2>
    <p text-center no-margin>Versão: {{ version }}</p>

    <div text-center class="logo">
      <img padding src="assets/imgs/menu/logo.png">
    </div>

    <p text-center no-margin>Copyright ©{{ date | date: 'yyyy' }}</p>
    <p text-center no-margin>Supermercado Ideal Ltda.</p>
    <p text-center no-margin>Todos os direitos reservados.</p>
  </div>
</ion-content>
