page-contact {
  .scroll {
    height: 100%
  }

  .content {
    background: url('../assets/imgs/about/background.jpg') no-repeat transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    animation: animatedBackground 40s linear infinite;
  }

  .content:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(247,247,247,.8);
  }

  .conteudo {
    top: 5%;
    left: 0;
    width: 100%;
    position: absolute;
  }

  .list {
    margin: 0;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 10px;

    .item {
      background-color: transparent;
      .icon {
        color: color($colors, primary);
      }
    }

    ion-item-sliding {
      background-color: transparent;
    }
  }

  .map {
    position: absolute;
    width: 100%;
    height: 50%;

    .spinner {
      top: 50%;
      left: 40%;
      width: 50px;
    }
  }

  .please-connect {
    position: absolute;
    background-color: color($colors, dark);
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 50%;

    p {
      color: color($colors, light);
      text-align: center;
      position: relative;
      font-size: 1.2em;
      top: 40%;
    }
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
}
