<!-- Vertical -->
<ion-card no-margin class="vertical" *ngIf="!horizontal">
  <div class="barra-top" *ngIf="product.validity">
    <p>Oferta válida até {{ product.validity | date: 'dd/MM/yyyy' }}</p>
  </div>

  <div (click)="goPage()">
    <ion-card-header no-padding>
      <ion-badge *ngIf="!!product.view_percent_discount">-{{ product.percent_discount_per_product | percent:'1.0'}}</ion-badge>
      <img-loader [src]="product?.images[0]?.url"></img-loader>
    </ion-card-header>

    <ion-card-content no-padding no-margin>
      <p class="description" text-capitalize text-center>{{ product.description }}</p>
      <p class="sub-description" float-left text-uppercase *ngIf="product.brand">{{ product.brand }}</p>
      <p class="sub-description" float-right text-uppercase>{{ product.unity | uppercase }}</p>
    </ion-card-content>

    <div class="prices">
      <ion-row *ngIf="product.price">
        <ion-col no-padding>
          <div class="price-card offer border-price">
            <p class="price">{{ product.price | currency:'BRL':'symbol' }} cada</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="product.price_discount && !product.cumulative">
        <ion-col no-padding>
          <div class="price-card offer header border light">
            <p class="message">Oferta</p>
            <p class="price">{{ product.price_discount | currency:'BRL':'symbol' }} <span>cada</span></p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="product.price_discount && product.cumulative">
        <ion-col no-padding>
          <div class="price-card offer header border color-red">
            <p class="price">Leve {{ product.cumulative }} por {{ product.price_discount | currency:'BRL':'symbol' }} <span>cada</span></p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="product.price_discount_price_two">
        <ion-col no-padding>
          <div class="price-card price2">
            <div class="message">
              <img src="assets/imgs/cartao.png"/>
            </div>
            <p class="price" *ngIf="!product.cumulative">{{ product.price_discount_price_two | currency:'BRL':'symbol' }} <span>cada</span></p>
            <p class="price" *ngIf="product.cumulative">Leve {{ product.cumulative }} por {{ product.price_discount_price_two | currency:'BRL':'symbol' }} <span>cada</span></p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="product.cumulative && product.cumulative_payable">
        <ion-col no-padding>
          <div class="price-card cumulative-payable" text-center>
            <p class="message">Na compra de {{ product.cumulative }} pague apenas {{ product.cumulative_payable }}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="footer" *ngIf="button_add">
    <button ion-button clear block (click)="openModalAddProduct(product)">Adicionar à Lista de Compras</button>
  </div>
</ion-card>

<!-- Horizontal -->
<ion-card mb-5 class="horizontal" *ngIf="horizontal">
  <div class="barra-top" *ngIf="product.validity">
    <p>Oferta válida até {{ product.validity | date: 'dd/MM/yyyy' }}, ou enquanto durar o estoque.</p>
  </div>

  <div (click)="goPage()">
    <ion-card-header no-padding>
      <ion-badge *ngIf="!!product.view_percent_discount">-{{ product.percent_discount_per_product | percent:'1.0' }}</ion-badge>
      <img-loader [src]="product?.images[0]?.url"></img-loader>
    </ion-card-header>

    <ion-card-content no-margin style="padding: 5px 8px;">
      <p text-justify text-capitalize class="title">{{ product.description }}</p>
      <p class="subtitle" float-left text-uppercase *ngIf="brand">{{ product.brand }}</p>
      <p class="subtitle" float-right text-uppercase>{{ product.unity | uppercase }}</p>
    </ion-card-content>

    <div class="prices">
      <ion-row *ngIf="product.price">
        <ion-col no-padding>
          <div class="price-card offer border-price">
            <p class="price">{{ product.price | currency:'BRL':'symbol' }} cada</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="product.price_discount">
        <ion-col no-padding>
          <div class="price-card offer header border light">
            <p class="message">Oferta</p>
            <p class="price" *ngIf="!product.cumulative">{{ product.price_discount | currency:'BRL':'symbol' }} <span>cada</span></p>
            <p class="price" *ngIf="product.cumulative">Leve {{ product.cumulative }} por {{ product.price_discount | currency:'BRL':'symbol' }} <span>cada</span></p>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row *ngIf="product.price_discount_price_two">
        <ion-col no-padding>
          <div class="price-card price2">
            <div class="message">
              <img src="assets/imgs/cartao.png"/>
            </div>
            <p class="price" *ngIf="!product.cumulative">{{ product.price_discount_price_two | currency:'BRL':'symbol' }} <span>cada</span></p>
            <p class="price" *ngIf="product.cumulative">Leve {{ product.cumulative }} por {{ product.price_discount_price_two | currency:'BRL':'symbol' }} <span>cada</span></p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="product.cumulative && product.cumulative_payable">
        <ion-col no-padding>
          <div class="price-card cumulative-payable" text-center>
            <p class="message">Na compra de {{ product.cumulative }} pague apenas {{ product.cumulative_payable }}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="footer" *ngIf="button_add">
    <button ion-button clear block (click)="openModalAddProduct(product)">Adicionar à Lista de Compras</button>
  </div>
</ion-card>


